@import 'variables';
@import 'functions';
@import 'models';

*{
    border: 0;
    margin: 0;
    padding: 0;
}

html,
body{
    display: block;
    height: 100%;
    width: 100%;
}

body{
    font-size: 100%;
    @include gradient(radial, (center, #774111, #b47f44));
}

.main_app{
    height: 100vh;
    width: 100vw;
    position: relative;
    @include flex(flex);
    @include align-items(center);
    @include justify-content(center);
}

.content_widgets{
    max-width: 100%;
    background: white;
    padding: .5rem;
    @include border-radius(5px);
    @include perspective(1000px);
    @include perspective-origin(50% 40%);
    
    .row_widgets{
        @include flex('flex');
        
        &.separator{
            min-height: 25px;
            max-height: 25px;
        }
    }
    
    @include button_default;
    
    .container_btn{
        position: absolute;
        bottom: 1.5rem;
        right: 1rem;
        
        button{
            padding: 2.5rem 1rem;
            font-size: 1.5rem;
            @include border-radius(50%);
            
            &.restart{
                padding: 2.5rem 0.5rem;
                background: #d32f2f;
                border-color: #d32f2f;
                @include box-shadow(( 0 5px #ef5350 ));
                
                &:hover{
    				top: 2px;
    				@include box-shadow(0 3px #ef5350);
    				outline: none;
    			}
    
    			&:focus{
    				outline: none;
    			}
    
    			&:active{
    				top: 5px;
    				@include box-shadow(0 0px #ef5350);
    			}
            }
            
            &.new{
                padding: 2.5rem 1.5rem;
                background: $brown_secondary;
                border-color: $brown_secondary;
                @include box-shadow(( 0 5px $brown_primary ));
                
                &:hover{
    				top: 2px;
    				@include box-shadow(0 3px $brown_primary);
    				outline: none;
    			}
    
    			&:focus{
    				outline: none;
    			}
    
    			&:active{
    				top: 5px;
    				@include box-shadow(0 0px $brown_primary);
    			}
            }
        }
    }
    
    .container_results{
        position: absolute;
        bottom: 150px;
        right: 4rem;
        
        img{
            max-width: 270px;
        }
        
        > span{
            min-width: 90px;
            position: absolute;
            top: 0;
            color: white;
            font-weight: bold;
            font-family: 'Roboto';
            font-size: 1.2rem;
        }

        .name{
            margin: auto;
            top: 5px;
            left: 0;
            right: 0;
            text-align:center;
        }
        
        .time{
            right: 0;
            left: 54px;
            margin: auto;
            top: -36px;
            bottom: 0;
            height: 25px;
            width: 90px;
        }
        
        .points{
            right: 0;
            left: 54px;
            margin: auto;
            top: 40px;
            bottom: 0;
            height: 25px;
            width: 90px;
        }
    }
}

.widget{
    max-width: $relative_size;
    min-width: $relative_size;
    margin:  .5rem;
    min-height: $relative_size;
    cursor: pointer;
    position: relative;
    
    &:before,
    &:after{
        @include border-radius(5px);
    }
    
    &:before{
        width: 100%;
        min-height: $relative_size;
        content: '';
        display: block;
        border: solid thin $brown_secondary;
        background: $brown_secondary;
        z-index: -1;
        @include transition( (transform .5s ease, box-shadow .5s .5s ease ));
        @include transform-origin(left center);
    }
    
    &:after{
        width: 100%;
        min-height: $relative_size;
        content: attr(data-value);
        display: block;
        background: $brown_primary;
        color: white;
        font-size: 57px;
        text-align: center;
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        @include text-shadow((0 0 2px #323232));
        @include transition(( transform .5s .25s ease, z-index .2s linear));
        @include transform(scale(1));
        @include transform-origin(center);
    }
    
    &.edit,
    &:hover,
    &:focus{
        
        &:before{
            @include box-shadow(( 0 0 5px rgba(0,0,0,.5) ));
            @include transform((rotatey(180deg) translateX(-100%)));
        }
        
        &:after{
            z-index: -1;
            @include transform((scale(1)));
        }
    }
    
    &.result{
        cursor: default;
        
        &:after{
            background: #1E7D22;
            font-size: 3rem;
            line-height: 2;
        }
        
        &:before{
            display: none;
        }
    }
    
    &.edit{
        .value{
            z-index: 5;
            
            .value_input{
                opacity: 1;
            }
        }
    }
    
    &.valid{
        &:before{
            display: none;
        }
        
        &:after{
            background: $brown_secondary;
            @include box-shadow(( 0 0 5px rgba(0,0,0,.5) ));
        }
    }
    
    .value{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: $relative_size;
        z-index: -2;
        padding: 1rem;
        
        .value_input{
            opacity: 0;
            border-color: transparent;
            color: white;
            font-size: 50px;
            overflow: visible;
            height: auto;
            margin: 0;
            text-align: center;
            @include box-shadow(none);
            @include transition(all .5s ease);
            
            &:focus{
                border-color: transparent;
                @include box-shadow(none);
            }
        }
    }
}

.separator{
    margin: .5rem;
    min-width: 15px;
    min-height: $relative_size;
    max-height: $relative_size;
    
    &.small{
        min-width: 15px;
        max-width: 15px;
        min-height: 15px;
        max-height: 15px;
    }
}

.operator{
    background-image: url(../images/operators.png);
    background-size: 100%;
    cursor: pointer;
    position: relative;
    @include transition(all .5s ease);
    
    &[sum]{
        background-position: 0px 0px;
    }
    
    &[subtraction]{
        background-position: 0px -90px;
    }
    
    &[multiplication]{
        background-position: 0 -180px;
    }
    &[division]{
        background-position: 0 -270px;
    }
    
    &.active{
        .menu_operators{
            left: 165%;
            opacity: 1;
            z-index: 10;
        }
        
        &.vertical{
            .menu_operators{
                left: initial;
                top: 200%;
            }
        }
    }
    
    .menu_operators{
        position: absolute;
        left: 0;
        z-index: -1;
        background: white;
        border: solid #323232 thin;
        opacity: 0;
        @include transition(all .5s cubic-bezier(0.08, 0.51, 0.2, 1.6));
        
        > div{
            height: calc(90px / 4);
            padding: 0 .25rem;
            cursor: pointer;
            color: #323232;
            
            &:hover{
                background: #a5d6a7;
                color: white;
                @include text-shadow(0 0 2px rgba(0,0,0,.5));
            }
        }
        
        .close_menu{
            position: absolute;
            top: -1%;
            right: 5.8%;
            font-weight: bold;
            
            &:hover{
                color: #ef5350;
            }
        }
    }
    
    &.vertical{
        max-height: 15px;
        min-height: 15px;
        min-width: 90px;
        margin: .5rem;
        max-width: 90px;
        background-position: 0px 0;
        background-image: url(../images/operators_vertical.png);
        background-size: 360px;
        
        .menu_operators{
            top: -100%;
            left: initial;
        }
        
        &:nth-child(1){
            margin: .5rem .5rem .5rem 0;
        }
        
        &[sum]{
            background-position: 0px 0px;
        }
        
        &[subtraction]{
            background-position: -90px 0;
        }
        
        &[multiplication]{
            background-position: -180px 0;
        }
        &[division]{
            background-position: -270px 0;
        }
    }
}